[Desktop Entry]
Type=Application
Name=Deadlock Mod Manager
Exec=deadlock-modmanager
Icon=deadlock-modmanager
Categories=Game;Utility;
StartupNotify=true
